<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<title>My Airline</title>
		<style media="screen">
			* {
				text-decoration: none;
				font-family: sans-serif;
				box-sizing: border-box;
			}

			.container {
				display: flex;
				flex-flow: row wrap;
				justify-content: center;
				align-items: center;
			}

			.card {
				min-width: 200px;
				min-height: 300px;
				border: 1px solid black;
				padding: 2%;
				margin: 2%;
			}
		</style>
	</head>

	<body>
		<h1>Welcome <%= user.name %></h1>

		<h3>Config Panel for: <%= airline.name %></h3>

		<div class="container">
			<% for (let i = 0; i < flights.length; i++) { %>
				<div class="card">
					<p>Flight ID:
						<%= flights[i].id %>
					</p>
					<p>Flight Start:
						<%= flights[i].start %>
					</p>
					<p>Flight Destination:
						<%= flights[i].destination %>
					</p>
				</div>
				<% } %>
		</div>

		<br>
		<hr>
		<br>

		<h3>Create a new flight</h3>

		<form class="" action="/flight/add" method="post">
			<input type="text" name="start" placeholder="Start"><br>
			<input type="text" name="destination" placeholder="Destination"><br>
			<input type="submit" value="Make new flight">
		</form>
	</body>

</html>